html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**************************************** NAVIGATION BAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffff;
  position: fixed;
  z-index: 1000;
}

.navbar a {
  text-decoration: none;
}

.navbar__logo--link {
  font-size: 1.5rem;
  color: #335576;
  margin: 0 0 0 80px;
}

ul.navbar__list {
  display: flex;
  list-style-type: none;
  width: 50%;
  margin: 0 50px;
}

.nav__item a {
  color: black;
  margin-right: 20px;
}

.nav__item a:hover {
  width: 10px;
  border-bottom: 3px solid #db7a4e;
}

.navbar__item--active {
  border-bottom: 3px solid #db7a4e;
}

/* Media query*/

@media screen and (max-width: 768px) {
  .navbar__logo--link {
    font-size: 1.2rem;
    color: #335576;
    margin: 0 0 0 30px;
  }

  ul.navbar__list {
    display: flex;
    list-style-type: none;
    width: 50%;
    margin: 0 0;
  }

  ul.navbar__list {
    display: flex;
    list-style-type: none;
    width: 50%;
    margin: 0 0px;
  }
}

/**************************************************** FOOTER  */

.footer__content {
  display: flex;
  justify-content: flex-end;
  background-color: #fefaf5;
  padding: 0 200px;
}

.footer__title {
  color: #335576;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 30px 0 15px 0;
}

.footer__subtitle {
  color: #db7a4e;
  font-size: 0.7rem;
  padding: 15px 0 15px 0;
  margin: 0;
}

.contact__link {
  color: #335576;
  text-decoration: none;
}

.hours__plan {
  display: flex;
}

.hours__plan span {
  margin: 0 40px 5px 0px;
  padding: 0 20px 20px 0;
  font-size: 0.9rem;
  color: #335576;
}

.contacts {
  margin: 20px 110px 50px 0;
}
.contact,
.hours,
.socials {
  margin: 20px 15px 50px 0;
}

.socials__img img {
  width: 30px;
  padding: 5px 25px 0 0;
  margin-top: 22px;
}

.socials__img a:nth-child(2) img {
  width: 18px;
}

/* Media query*/

@media screen and (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .contacts {
    margin: 10px 0 0 5px;
  }

  .hours__plan {
    display: flex;
    flex-direction: column;
  }

  .hours__plan span {
    margin: 0 10px 5px 0;
    padding: 0 5px 5px 0;
  }
}
